@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "temita";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(86% 0.022 252.894);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(44% 0.11 240.79);
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: oklch(60% 0.25 292.717);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(51% 0.096 186.391);
  --color-accent-content: oklch(98% 0.014 180.72);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.001 106.423);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}


@plugin "daisyui/theme" {
  name: "carbonsocks";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(30% 0.056 229.695);
  --color-base-200: oklch(39% 0.07 227.392);
  --color-base-300: oklch(45% 0.085 224.283);
  --color-base-content: oklch(95% 0.045 203.388);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(87% 0.006 286.286);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(60% 0.126 221.723);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}



/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  touch-action: manipulation;
}
